<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{result?.totalItems}} Results for <strong>"{{searchText}}"</strong>
    </div>
  </div>

  <div class="row">
    <app-card
      *ngFor="let book of books"
      [book]="book"
      [searchText]="searchText"
      [favoriteChecked]="book?.isFavorite"
      (onGetBookId)="getBook($event)"
    ></app-card>
  </div>

  <div class="row">
    <app-pagination
      [booksPerPage]="booksPerPage"
      [totalItems]="result?.totalItems"
      (onChangePage)="getPage($event)"
    ></app-pagination>
  </div>
</div>
