<div class="container">
  <div class="row">
    <div class="col-md-6">
      {{result?.totalItems}} Results for <strong>"{{searchText}}"</strong>
    </div>
    <div class="col-md-6 form-group">
      <form class="form-inline pull-right">
        <label for="booksPerPage" class="pagesLabel">Books per page</label>
        <select class="form-control" id="booksPerPage" name="booksPerPage" [(ngModel)]="booksPerPage">
          <option *ngFor="let count of countPages" [value]="count">{{count}}</option>
        </select>
      </form>
    </div>
  </div>

  <div class="row">
    <app-card *ngFor="let book of books" [book]="book" [searchText]="searchText" [favoriteChecked]="book?.isFavorite" (onGetBookId)="getBook($event)"></app-card>
  </div>

  <app-pagination [booksPerPage]="booksPerPage" [totalItems]="result?.totalItems" (onChangePage)="getPage($event)"></app-pagination>
</div>
