<div class="jumbotron">
  <div class="container">
    <h1>
      <span class="glyphicon glyphicon-book"></span> Books Manager
    </h1>

    <form #f="ngForm" class="form-inline" (ngSubmit)="serchBooks(f)" novalidate>
      <div class="form-group">
        <label class="sr-only" for="search">Search books</label>
        <input type="text" class="form-control input-lg" id="search" name="search" placeholder="Search your book here..." [(ngModel)]="search">
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Search</button>
    </form>
  </div>
</div>
