<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="thumbnail">
    <label for="favorite">
      <span [class]="favorite ? 'glyphicon-star' : 'glyphicon-star-empty'" class="glyphicon"></span>
      <input type="checkbox" name="favorite" id="favorite_{{book?.id}}" class="favorite" #favorite (change)="changeFavorite(book)">
    </label>
    <a class="linkImage" (click)="getBook(book?.id)">
      <img [src]="book.volumeInfo.imageLinks?.thumbnail" alt="{{book?.volumeInfo.title}}">
    </a>
    <div class="caption">
      <h3>
        <a [innerHTML]="createMarkHighlight(book?.volumeInfo.title)" (click)="getBook(book?.id)"></a>
      </h3>
      <p [innerHTML]="createMarkHighlight(book?.volumeInfo.description)"></p>
    </div>
  </div>
</div>
