<div class="container">
  <div class="row">
    <div class="jumbotron">
        <h1>API Google Books</h1>
        <form #f="ngForm" class="form-inline" (ngSubmit)="searchBooks(f)" novalidate>
          <div class="form-group">
            <label class="sr-only" for="search">Search books</label>
            <input type="text" class="form-control input-lg" id="search" name="search" placeholder="Search your book here..." ngModel required>
          </div>
          <button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-search"></span></button>
        </form>
    </div>
  </div>
</div>

<app-cards-box
  *ngIf="resultSearch && resultSearch.items?.length > 0"
  [searchText]="searchText"
  [result]="resultSearch"
  (onChangePage)="getPage($event)"
  (onChooseBook)="getBook($event)"
></app-cards-box>

<app-modal id="modalDetails">
  <div class="modalApp">
    <div class="modal-body">
      <app-details (onClose)="closeModal('modalDetails')" [book]="book"></app-details>
    </div>
  </div>
  <div class="modal-background"></div>
</app-modal>
