a {
  cursor: pointer;
}

mark {
  padding: 0;
  background-color: #c3ecf1!important;
  color: #000 !important;
}

app-modal {
  display: none;

  .modalApp {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;

    .modal-body {
      padding: 20px;
      background: #fff;
      margin: 40px;
    }
  }
  .modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
    z-index: 900;
  }
}

app-alert {
  display: none;
  position: fixed;
  top: 15px;
  right: 25px;

  transition: all 0.5s ease-in-out;

  &.active {
    display: block;
  }
}


body {
  &.modal-open {
    overflow: hidden;
  }
}
